<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{general/fragmentos::head}"></head>
<body>
    <header th:replace="~{general/fragmentos::header}"></header>

    <main class="container my-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h2 class="text-center mb-4">Formulario de Contacto</h2>
                
                <form>
                    <div class="mb-3">
                        <label class="form-label">Nombre completo</label>
                        <input type="text" class="form-control" required>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" required>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Telefono</label>
                        <input type="tel" class="form-control">
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Mensaje</label>
                        <textarea class="form-control" rows="4" required></textarea>
                    </div>
                    
                    <button type="submit" class="btn btn-primary w-100">Enviar mensaje</button>
                </form>
            </div>
        </div>
    </main>

    <footer th:replace="~{general/fragmentos::footer}"></footer>
</body>
</html>