<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{general/fragmentos::head}"></head>
<body>
    <header th:replace="~{general/fragmentos::header}"></header>

    <main class="container my-5">
        <div class="row">
            <div class="col-md-8 mx-auto text-center">
                <h1 class="display-4">Bienvenidos a Salon de Belleza Fide</h1>
                <p class="lead">Tu lugar para el cuidado personal</p>
                >
                <div class="mt-5">
                    <h2>Promo Especial para la practica</h2>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3>Promo Novia</h3>
                            <p>Incluye: Peinado, Maquillaje, Manicure y Pedicure</p>
                            <p class="text-success h4">¡50% de descuento! Tiene que venir con el novio</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="~{general/fragmentos::footer}"></footer>
</body>
</html>


